header{
    display: block;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0.1em;
    background-color: var(--grey-2);
    display: grid;
    grid-template-columns: 0.8fr 0fr 3fr 2fr 0.5fr 0.5fr;
    grid-template-areas: "hamb . search . fav prof";
}

header .menu{
    padding: 0.5em 0 0 1em;
}

header .favourites {    
    grid-area: fav;
    padding: 0.5em 1.5em 0 0em;
    display: flex;
    justify-content: flex-end;
}

header .profile{
    grid-area: prof;
    display: flex;
    justify-content: space-around;
    padding-right: 1em;

}

header .profile p{
    padding: 0 1.5em;
    margin: 0.35em 0;
    color: var(--grey-3);
    border-left: 1px solid var(--orange);
}

header .profile img{
    margin: 0.25em 0;
  border-radius: 300px;
}

/*search bar*/
header form{
    grid-area: search;
    margin: auto 0;
}

header form span{
    padding: 0.15em 0.5em 0 0.5em;
    background-color: var(--white);
    border: 1px solid var(--orange);
    border-right:none;
    border-radius: 5px 0 0 5px;
    height: 1.85em;
}

header form input{
    border: 1px solid var(--orange);
    border-left:none;
    height: 1.85em;
}
/*end search bar*/



