.breeditem{
    background-color: #ECECEC84;
    padding: 0.25em 1em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
}

.breeditem p{
    margin-bottom: 0;
    text-transform: capitalize;
}

.breeditem a{
    color: black;
    text-decoration-line: underline;
}

h1{
    font-size: 2em;
    color: var(--orange)
}