h1{
    color: var(--orange);
    text-transform: capitalize;
}

.breeds-images .images .image{
    margin: 2em;
}

.breeds-images .img-wrapper{
    height: 250px;
    width: 250px;
    margin: 1em auto;
}

.breeds-images .img-wrapper img{
    height: 100%;
    margin: auto;
}
.breeds-images button{
    margin-top: 2em;
    align-self: center;
}

.images .card a{
    background-color: var(--dark-blue);
}

.images fa-icon{
    color: var(--black);
}

