:root {
    --white: white;
    --black: black;
    --orange:  #f58f7c;
    --rose: #f2c4ce;
    --grey-2: #4f4f51;
    --grey-3: #d6d6d6;
    --grey-1: #2c2b30;
    --grey-4: #f8f8f8;
    
    

    --fonts: 'Montserrat', sans-serif;
}