/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: var(--fonts);
}

:root {
    --white: white;
    --black: black;
    --green: #807f3c;
    --orange: #b36b39;
    --light-blue: #d7e0e7;
    --dark-blue: #96abb0;
    --dark-grey: #46433c;
    
    

    --fonts: 'Montserrat', sans-serif;
}